/* General Styling */
body,
button,
input[type='number'] {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 7fr 1fr / 1fr 7fr 1fr;
  background-color: #769fcd;
}

#root {
  grid-area: 2 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #f7fbfc;
  border-radius: 2rem;
  box-shadow: -7px 7px 20px 0px #292828;
}

#sectionOne {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

.group {
  display: flex;
  margin: 0.8rem 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.box:last-of-type {
  margin-right: 0;
}

label,
input,
p {
  margin: 0.3rem;
  padding: 0.3rem;
  text-align: center;
}

input[type='number'] {
  border-radius: 1rem;
  border: 1px solid #000000;
  font-size: 16px;
}

button {
  margin: 0.8rem 0;
}

#sectionTwo {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
